<!DOCTYPE html>
<html>
<head>
    <style>
        form { 
            background-color: rgb(201, 142, 47); 
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1 style="background-color: rgb(240, 175, 71); text-align: center;">DELETE RESTAURANT</h1> 
    <form action="/validatedelete/" method="post">
        {% csrf_token %}
        <label>Restaurant ID</label>
        <input type="text" name="id" required><br><br>
        <input type="submit" value="Delete">
    </form> 
</body>
</html>
